---
import Header from "./../components/header.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
---

<Header />
<section class="h-full w-full bg-purple-50 flex items-center justify-center">
  About page
</section>

<p>Here are a few facts about me:</p>
<ul>
  <li>My name is {identity.firstName}.</li>
  <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
  {
    identity.hobbies.length >= 2 && (
      <li>
        Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
      </li>
    )
  }
</ul>
<p>My skills are:</p>
<ul>
  {skills.map((skill) => <li class="font-bold">{skill}</li>)}
</ul>

<hr />
<hr />

{!happy ? <p>I am happy to be learning Astro!</p> : <h1>whaat</h1>}

{finished && <p>I finished this tutorial!</p>}

{
  goal === 3 ? (
    <p>My goal is to finish in 3 days.</p>
  ) : (
    <p>My goal is not 3 days.</p>
  )
}
